APP_URL = http://localhost:2000
NODE_ENV= development

# Auth
#coffito@tec
APP_SECRET= 7c5b44713d1864bc65c69ce780579112
# Data base
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
# Mongo
MONGO_URL=

#Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

#Mail
MAIL_HOST=
MAIL_USER=
MAIL_PASS=

#Sentry
SENTRY_DSN=
